<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}{{ title }}{% endblock head_title %}</title>
    <link rel="stylesheet" href="for_navigations.css">
</head>
<body>
<heder>
    <div class="header-wrapper">
        <h1 class="title">Назва магазину</h1>
    </div>
</heder>
{% include 'message.html'  %}
<div class="content">
{% block content %}{% endblock content %}
</div>
<footer>
    <div class="navi-wrapper">
        <a class="navigation-href" href="#" onclick="history.back();return false;">Назад</a>
        <a class="navigation-href" href="http://127.0.0.1:8000/">На головну</a>
        <a class="navigation-href" href="/shop/category/">Категорії</a>
    </div>
</footer>
</body>
</html>