{% extends 'base.html' %}

{% block content %}
    <div class="container text-center">
    <h2> Home Page </h2>
        <div class="row">
            <div class="col">
                <a href="shop/">Перейти в магазин</a>
            </div>
            <div class="col">
                <a href="blog/">Перейти в блог</a>
            </div>
        </div>
    <p>Гарний опис сайтуГарний опис сайтуГарний опис сайтуГарний опис сайтуГарний опис сайтуГарний опис сайтуГарний опис сайту</p>
    </div>
{% endblock content %}
