{% extends 'base.html' %}

{% block content %}
    <div>
        <main>
            <div class="main-wrapper">
                {% for i in object %}
                <div class="img-wrapper">
                    <img class="img" src="imeges/jaket_second_attempt.jpg" alt="картинка товару">
                    <a class="title-goods" href="{{ i.get_absolut_url }}">{{ i.title }}</a>
                </div>

                {% endfor %}
            <div

            </div>
        </main>
    </div>
{% endblock content %}