<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shoplist</title>
    <link rel="stylesheet" href="for_list.css">
</head>
<body>
    <heder>
        <div class="header-wrapper">
            <h1 class="title">Назва магазину</h1>
        </div>
    </heder>
    <div>
        <main>
            <div class="main-wrapper">
                <div class="img-wrapper">
                    <img class="img" src="imeges/jaket_second_attempt.jpg" alt="картинка товару">
                    <a class="title-goods" href="shop%20detail.html">Назва товару</a>
                </div>
                <div class="img-wrapper">
                    <img class="img" src="imeges/jaket_second_attempt.jpg" alt="картинка товару">
                    <a class="title-goods" href="shop%20detail.html">Назва товару</a>
                </div>
                <div class="img-wrapper">
                    <img class="img" src="imeges/jaket_second_attempt.jpg" alt="картинка товару">
                    <a class="title-goods" href="shop%20detail.html">Назва товару</a>
                </div>
                <div class="img-wrapper">
                    <img class="img" src="imeges/jaket_second_attempt.jpg" alt="картинка товару">
                    <a class="title-goods" href="shop%20detail.html">Назва товару</a>
                </div>
                <div class="img-wrapper">
                    <img class="img" src="imeges/jaket_second_attempt.jpg" alt="картинка товару">
                    <a class="title-goods" href="shop%20detail.html">Назва товару</a>
                </div>
                <div class="img-wrapper">
                    <img class="img" src="imeges/jaket_second_attempt.jpg" alt="картинка товару">
                    <a class="title-goods" href="shop%20detail.html">Назва товару</a>
                </div>
            </div>
        </main>
    </div>
</body>
</html>