<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buy</title>
    <link rel="stylesheet" href="for_buy.css">
</head>
<body>
    <div class="body">
        <h1>Назва товару</h1>
        <div>
            <p>Введіть емейл</p>
            <input type="email">
            <p>Введіть номер телефону</p>
            <input type="phone number">
            <p>Введіть адресу</p>
            <input type="adress">
            <div class="button">
                <button>Замовити</button>
            </div>


        </div>
    </div>
</body>
</html>