{% extends 'base.html' %}

{% block content %}
    <div class="body">
        <div class="body-container">
            <h1 class="title">{{ object.title }}</h1>
            <p class="description">{{ object.description}}</p>
            <div class="buy-wrapper">
                <a class="buy" href="shop%20buy.html">Купити</a>
                <div class="price">{{ object.price}}</div>
            </div>
        </div>
        <div class="img">
            <p>Унікальний ід товару {{ object.id }}</p>
            <img src="imeges/jaket_second_attempt.jpg" alt="Картинка товару">
        </div>
    </div>
{% endblock content %}