<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ditail</title>
    <link rel="stylesheet" href="for_detail.css">
</head>
<body>
    <div class="body">
        <div class="body-container">
            <h1 class="title">Назва товару</h1>
            <p class="description">Опис товару його тут багато</p>
            <div class="buy-wrapper">
                <a class="buy" href="shop%20buy.html">Купити</a>
                <div class="price">Ціна$</div>
            </div>
        </div>
        <div class="img">
            <p>Унікальний ід товару ...</p>
            <img src="imeges/jaket_second_attempt.jpg" alt="Картинка товару">
        </div>
    </div>
</body>
</html>