.navigation-href{
    display: block;
    background-color: black;
    color: beige;
    width: 200px;
    height: 80px;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    line-height: 80px;
    margin-right: 20px;

}

.navi-wrapper{
    display: flex;
    margin-top: 50px;
    justify-content: center;

}